:root {
  --color-brand-100: #0d0132;
  --color-brand-200: #378d44;
  --color-brand-300: #00825c;
  --color-brand-400: #00756b;
  --color-brand-500:#00666f;
  --color-brand-600: #12576b;
  --color-brand-700: #2f4858;
  --font-size-1: 1rem;
  --font-size-2: 2rem;
  --font-size-3: 3rem;
  --font-size-4: 4rem;
  --font-family: "Lato" , sans-serif;
  --font-size-lg: 1.45rem;
  --font-size-md: 1.25rem;
  --font-size-sm: 1.05rem;
  --font-light: 300;
  --font-regular: 400;
  --font-bold: 700;
  --font-bolder: 900;
}
