h1 {
    font-size: var(--font-size-lg);
    font-weight: var(--font-bold);
}

h2 {
    font-size: var(--font-size-md);
    font-weight: var(--font-bold);
}

p {
    font-size: var(--font-size-sm);
    font-weight: var(--font-regular);
}

span {
    font-size: var(--font-size-sm);
    font-weight: var(--font-light);
}

.highlight__font {
    font-family: var(--font-family-highlight);
}