.background__circle {
  width: 450px;
  background-image: url("../../../assets/Background/moonBackGround.svg");
  position: absolute;
  top: -40px;
  left: -250px;
  right: 0;
  margin: auto;
  height: 450px;
  border-radius: 50%;
  z-index: 5;
}



.background__content {
  position: absolute;
  display: flex;
  flex-direction: column;
  // margin: auto;
  width: 100%;
  height: 80%;
  top: 0;
  z-index: -1;
  background: rgb(0,0,0);
  background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(3,35,50,1) 45%, rgba(66,90,101,1) 70%);
  

  .lighthouse__container {
    position: relative;
    right: 12.5vw;
    bottom: 0;
    width: 70vw;
    height: 70vw;
    min-width: 200px;
    min-height: 200px;
    max-width: 450px;
    max-height: 450px;
    margin-left: auto;
    margin-top: auto;
    margin-bottom: 6rem;

    .lighthouse {
      position: absolute;
      width: 70vw;
      height: 70vw;
      min-width: 200px;
      min-height: 200px;
      max-width: 450px;
      max-height: 450px;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      margin: auto;
      z-index: 3;
    }
  
    .lighthouseLight {
      position: absolute;
      max-width: 15px;
      max-height: 15px;
      width: 1%;
      height: 1%;
      right: 5vw;
      top: 44.5%;
      right: 48.5%;
      z-index: 3;
      background-color: #be6966;
      box-shadow: 0 0 3px 3px #be6966;
      border-radius: 50%;
      animation: lightFlick 20s linear infinite;
    }
  
    .lighthouseLightCone {
      position: absolute;
      width: 250px;
      height: 250px;
      max-width: 250px;
      max-height: 250px;
      width: 50%;
      height: 50%;
      right: 5vw;
      top: 20%;
      right: 24.5%;
      z-index: 5;
      opacity: .5;
      filter: blur(15px);
      animation: lightBeam 10s infinite ease-in-out;
    }
  }


}



.waves {
  overflow: hidden;
  width: 100%;
  height: 10rem;
  position: absolute;
  bottom: 03rem;
  display: flex;
  align-items: center;
  justify-content: center;

  .wave__light {
    z-index: 1;
    background-image: url("../../../assets/Background/LightWave.svg");
    animation: waveSwing 13s infinite linear;
    height: 180px;
    position: absolute;
    width: 100vw;
    background-size: 66% auto;
    background-repeat: repeat-x;
    
  }
  .wave__superLight {
    z-index: 4;
    background-image: url("../../../assets/Background/SuperLightWave.svg");
    animation: waveSwing 20s infinite reverse;
    height: 180px;
    position: absolute;
    width: 100vw;
    background-size: 66% auto;
    background-repeat: repeat-x;
    opacity: .6;
  }
  .wave__dark {
    z-index: 5;
    background-image: url("../../../assets/Background/DarkWave.svg");
    animation: waveSwing 30s infinite linear;
    height: 180px;
    position: absolute;
    width: 100vw;
    background-size: 66% auto;
    background-repeat: repeat-x;
  }
}

@keyframes waveSwing {
  to {
    background-position-x: 0;
  }
  from  {
    background-position-x: 66vw;
  }
}




@keyframes lightFlick {
  0% {
    box-shadow: 0 0 3px 3px #be6966;
  }
  50% {
    background-color: #eb443e;
    box-shadow: 0 0 3px 3px #eb443e;
  }
  100% {
    box-shadow: 0 0 3px 3px #be6966;
  }
}

@keyframes lightBeam {
  0% {
    transform: scaleX(1);
  }
  40% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  65% {
    opacity: 1;
  }
  100% {
    transform: scaleX(-1);
  }
}