.background__circle {
  width: 150px;
  position: absolute;
  top: 90px;
  left: -250px;
  right: 0;
  margin: auto;
  height: 150px;
  border-radius: 50%;
  z-index: 5;
  box-shadow: inset 0px 10px 20px rgba(0, 0, 0, 0.8),
    inset 0px -10px 20px rgba(255, 255, 255, 0.6);
}

.background__circle::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  z-index: 4;
  box-shadow: 0px 0px 5px 25px rgba(33, 42, 56, 0.4);
  filter: blur(10px);
}

.complementary__circle {
  position: absolute;
  top: 110px;
  left: -250px;
  right: 0;
  margin: auto;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  color: #333;
  background-image: linear-gradient(
    310deg,
    rgb(192, 192, 192),
    rgba(50, 120, 220, 0.4),
    rgba(90, 160, 270, 0.4),
    rgba(19, 37, 63, 0.4),
    rgba(0, 0, 0, 1)
  );
  background-size: 400%;
  filter: blur(20px);
  opacity: 0.2;
  animation: bg-animation 5s infinite alternate;
}

@keyframes bg-animation {
  0% {
    background-position: left;
  }

  100% {
    background-position: right;
  }
}

.background__content {
  position: absolute;
  display: flex;
  flex-direction: column;
  // margin: auto;
  width: 100%;
  height: 80%;
  top: 0;
  z-index: -1;
  background: rgb(0,0,0);
  background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(3,35,50,1) 45%, rgba(66,90,101,1) 70%);
  

  .lighthouse__container {
    position: relative;
    right: 12.5vw;
    bottom: 0;
    width: 70vw;
    height: 70vw;
    min-width: 200px;
    min-height: 200px;
    max-width: 450px;
    max-height: 450px;
    margin-left: auto;
    margin-top: auto;
    margin-bottom: 6rem;

    .lighthouse {
      position: absolute;
      width: 70vw;
      height: 70vw;
      min-width: 200px;
      min-height: 200px;
      max-width: 450px;
      max-height: 450px;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      margin: auto;
      z-index: 3;
    }
  
    .lighthouseLight {
      position: absolute;
      max-width: 15px;
      max-height: 15px;
      width: 1%;
      height: 1%;
      right: 5vw;
      top: 44.5%;
      right: 48.5%;
      z-index: 3;
      background-color: #be6966;
      box-shadow: 0 0 3px 3px #be6966;
      border-radius: 50%;
      animation: lightFlick 20s linear infinite;
    }
  
    .lighthouseLightCone {
      position: absolute;
      width: 250px;
      height: 250px;
      max-width: 250px;
      max-height: 250px;
      width: 50%;
      height: 50%;
      right: 5vw;
      top: 20%;
      right: 24.5%;
      z-index: 5;
      opacity: .5;
      filter: blur(15px);
      animation: lightBeam 10s infinite ease-in-out;
    }
  }


}



.waves {
  width: 100%;
  height: 10rem;
  position: absolute;
  bottom: 03rem;
  display: flex;
  align-items: center;
  justify-content: center;

  .wave__light {
    z-index: 1;
    background-image: url("../../../assets/LightWave.svg");
    background-position-x: center;
    animation: waveSwing 13s infinite linear;

    background-repeat: no-repeat;
    height: inherit;
    position: absolute;
    width: 100%;
    background-size: 66% auto;
    background-repeat: repeat-x;
    
  }
  .wave__superLight {
    z-index: 4;
    background-image: url("../../../assets/SuperLightWave.svg");
    background-position-x: center;
    animation: waveSwing 20s infinite reverse;
    background-repeat: no-repeat;
    height: inherit;
    position: absolute;
    width: 100%;
    background-size: 66% auto;
    background-repeat: repeat-x;
    opacity: .6;
  }
  .wave__dark {
    z-index: 5;
    background-image: url("../../../assets/DarkWave.svg");
    background-position-x: center;
    animation: waveSwing 30s infinite linear;
    background-repeat: no-repeat;
    height: inherit;
    position: absolute;
    width: 100%;
    background-size: 66% auto;
    background-repeat: repeat-x;
  }
}

@keyframes waveSwing {
  0% {
    background-position-x: 0vw;
  }
  100% {
    background-position-x: 66vw;
  }


}

@keyframes lightFlick {
  0% {
    box-shadow: 0 0 3px 3px #be6966;
  }
  50% {
    background-color: #eb443e;
    box-shadow: 0 0 3px 3px #eb443e;
  }
  100% {
    box-shadow: 0 0 3px 3px #be6966;
  }
}

@keyframes lightBeam {
  0% {
    transform: scaleX(1);
  }
  40% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  65% {
    opacity: 1;
  }
  100% {
    transform: scaleX(-1);
  }
}