header {
  width: 100%;
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav {
  width: 80%;
  margin: 0 auto;
}
ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.navigator {
  display: flex;
  justify-content: space-between;
  width: 50%;
  align-items: center;
  font-size: var(--font-size-lg);
}

.button {
  width: 50%;
  display: flex;
  justify-content: flex-end;
  gap: 20px;
  align-items: center;
}
