@import "../../../styles/globalstyles.scss";

.intro__container {
  width: 75%;
  margin: 5rem auto;
  position: relative;
  @include display($direction: column, $gap: 3rem);

  .intro__content {
    @include display($justify: space-between);

    .name__intro {
      font-size: 2.7rem;
    }

    .stack__intro {
      font-family: var(--font-family-accent);
      font-size: 3rem;
      background-image: linear-gradient(
        310deg,
        rgb(192, 192, 192),
        rgba(50, 120, 220, 0.4),
        rgba(90, 160, 270, 0.4),
        rgba(19, 37, 63, 0.4)
      );
      background-size: 400%;
      background-clip: text;
      color: transparent;
      animation: bg-animation 5s infinite alternate;
    }

    .portfolio__intro {
      @include display(
        $align: flex-end,
        $direction: column
      ); // Place the mixin call here

      span {
        &:nth-child(1) {
          font-size: var(--font-size-xl);
          font-weight: var(--font-bolder);
        }

        &:nth-child(2) {
          font-size: 2rem;
          font-family: var(--font-family-special);
          font-weight: var(--font-regular);
        }

        &:nth-child(3) {
          font-size: var(--font-size-xl);
          font-weight: var(--font-bolder);
        }
      }
    }
  }

  .impactPhrase__intro {
    font-size: var(--font-size-lg);
    z-index: 10;
    font-weight: 500;
    text-align: start;
    width: 50%;
  }
}

@keyframes bg-animation {
  0% {
    background-position: left;
  }

  100% {
    background-position: right;
  }
}