@mixin display($align: null, $justify: null, $direction: row, $gap: null) {
  display: flex;

  @if $align != null {
    align-items: $align;
  }

  @if $justify != null {
    justify-content: $justify;
  }

  @if $direction != null {
    flex-direction: $direction;
  }
  @if $gap != null {
    gap: $gap;
  }
}

.main__content {
  position: relative;
  gap: 10rem;
  margin-top: 4rem;
  @include display($direction: column);
}

.intro__container {
  width: 75%;
  margin: 0 auto;
  position: relative;
  @include display($direction: column, $gap: 3rem);

  .intro__content {
    @include display($justify: space-between);

    .name__intro {
      font-size: 2.7rem;
    }

    .stack__intro {
      font-family: var(--font-family-accent);
      font-size: 3rem;
      background-image: linear-gradient(
        310deg,
        rgb(192, 192, 192),
        rgba(50, 120, 220, 0.4),
        rgba(90, 160, 270, 0.4),
        rgba(19, 37, 63, 0.4)
      );
      background-size: 400%;
      background-clip: text;
      color: transparent;
      animation: bg-animation 5s infinite alternate;
    }

    .portfolio__intro {
      @include display(
        $align: flex-end,
        $direction: column
      ); // Place the mixin call here

      span {
        &:nth-child(1) {
          font-size: var(--font-size-xl);
          font-weight: var(--font-bolder);
        }

        &:nth-child(2) {
          font-size: 2rem;
          font-family: var(--font-family-special);
          font-weight: var(--font-regular);
        }

        &:nth-child(3) {
          font-size: var(--font-size-xl);
          font-weight: var(--font-bolder);
        }
      }
    }
  }

  .impactPhrase__intro {
    font-size: var(--font-size-lg);
    z-index: 10;
    font-weight: 500;
    text-align: start;
    width: 50%;
  }
}

@keyframes bg-animation {
  0% {
    background-position: left;
  }

  100% {
    background-position: right;
  }
}

.aboutMe__container {
  width: 100%;
  display: flex;
  height: 31.25rem;
  align-items: center;
  background: rgb(12,12,12);
  background: linear-gradient(0deg, #010507 12%, #032332 90%);
  border-radius: 5px;
  margin-top: 130px;

  .aboutMe__content {
    width: 75%;
    margin: 0 auto;
    @include display($justify: space-between, $align: center);

    p {
      font-size: var(--font-size-md);
      padding: 0.5rem;
      border-radius: 5px;
      text-align: center;
      line-height: 1.4;
      letter-spacing: 1.3px;
      margin-block: auto;
      z-index: 7;
      width: 50%;
    }
  }
}

.hrdSkills__container {
  width: 75%;
  margin: 0 auto;
  position: relative;
  @include display($justify: center, $direction: column, $gap: 5rem);
  box-shadow: -0px -0px 5px 3px rgba(30, 39, 51, 0.4);
  text-align: center;
  border-radius: 5px;
  // padding: 30px;

  h1 {
    font-size: var(--font-size-xl);
    margin-top: 1rem;
  }

  .hrdSkills__content {
    width: 100%;
  }
}

.projects__content {
  img {
    height: 350px;
    width: 350px;
    animation: astronaut 3s infinite alternate ease-in-out;
    margin: auto;
  }
}
