@mixin display($align: null, $justify: null, $direction: row, $gap: null) {
  display: flex;

  @if $align != null {
    align-items: $align;
  }

  @if $justify != null {
    justify-content: $justify;
  }

  @if $direction != null {
    flex-direction: $direction;
  }
  @if $gap != null {
    gap: $gap;
  }
}

.main__content {
  position: relative;
  margin-top: 4rem;
  @include display($direction: column, $gap:9rem);
}



.projects__content {
  img {
    height: 350px;
    width: 350px;
    animation: astronaut 3s infinite alternate ease-in-out;
    margin: auto;
  }
}
